/* Reset e inicio de estilos */
*{margin: 0; padding: 0;}
*{box-sizing:border-box;}


/* Estilos por etiquetas */
body {
    
    font-family: Arial, Helvetica, sans-serif;
}

header {
    
    background: black;
    /* cambiar esta propiedad solo para el H1 */
    
}

nav{
    height: 7em;
    padding-top: 4px;
    text-align: center;
    text-transform: uppercase;
}

h1 {
    font-size: 1.2em;
    color: white;
    font-family: Audiowide;
    font-weight: 800;
    letter-spacing: 3px;
}

h2 {
    font-size: 1em;
    text-transform: uppercase;
    word-spacing: 10px;
    margin-bottom: 25px;
}


 img{
    width: auto;
    height: 40px;
}

footer h4 {
    color: #fff;
    text-align: center;
    font-size: 0.6em;
    word-spacing: 7px;
    padding: 1em 0px 1em;
}

footer {
    height: 80px;
    background: #1e1e1e;
    padding: 4px 0px;
}

/* Estilos a los enlaces de navegacion de las demas Views*/
.navegacion {
    background: #c6c6c6;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    height: 2.5em;
}

.navegacion li {
    list-style: none;
    padding: 0px 25px;
}

.enlaceNavegacion {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    cursor: pointer;
    font-weight: bold;
    color: #303030;
    letter-spacing: 2px;
}
 /*Estilos a los enlaces y botones RRSS*/
 .botones-rrss { /*Estilos al contenedor de RRSS*/
    border: solid 2px color #ffffff;
    display: flex;
    justify-content: center;
    margin: 5px;
    
}

.botones-rrss a { /*Estilos a los botones de RRSS*/
    display: inline-flex;
    color: #ffffff;
    height: 28px;
    width: 28px;
    background: black;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
   
    border: solid 2px #fff;
    border-radius: 50%;
    font-size: 1.2em;
    margin: 0 5px;
    transition: transform 0.4s;
}

.botones-rrss .facebook:hover { /*Estilos animados al boton Face*/
    transform: scale(1.3);
    background-color: #3c70a4;
}

.botones-rrss .whatsapp:hover { /*Estilos animados al boton WPP*/
    transform: scale(1.3);
    background-color: #00bb2d;
}

.botones-rrss .instagram:hover { /*Estilos animados al boton Instagram*/
    transform: scale(1.3);
    background-color: #E1306C;
}

/* Estilos a los subtitulos de cada Views*/
.subAbout{
    padding-top: 0.5em;
    padding-left: 3%;
    height: 2em;
    background: #5e5e5e;
    color:#fff;
    width: 100%;

}

/* Estilos al contenedor de general donde estan cada contenedor columna de fotos*/
.contenedorGeneral {    
    width: 100%;
    height: 2200px;
    background-color: #282828;
    
}

/* Estilos al contenedor de fotos*/
.contenedorFotos{
    width: auto;
    height: 2285px;
    background-color: #282828;
   float: left;
   border: solid 1px #fff;
}

/* Estilos al contenedor de cada titulo de las columnas de fotos)*/
.tituloScroll {
    height: 30px;
    width: auto;
    background-color: #242424;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    padding-top: 10px;
}

.clearfix{
    float: none;
    clear: both;
}

/* Estilos al contenedor hijo en contacto (Parrafo, mapa)*/
.contsec {
    display: block;
    float: right;
    width: 50%;
    height: 340px;
    padding: 5em;

}  

/* Estilos al contenedor hijo en Opiniones (OP1, OP2, etc)*/
.boxOpn {
    width: 50em;
    height: 10em;
    padding: 40px 20px;

}

legend{
    color: black;
    text-transform: uppercase;
    text-align: center;
    padding-top: 15px;
    font-size: 16px;
}

/* Estilos al formulario de Opiniones*/
.inOp{
    padding: 1em;
    height: 24em;
    width: 50em;
    margin: 0.8em auto;
    text-align: left;
    line-height: 20px;
    background: #999;
    color: #545454;
    font-size: 0.9em;
    font-weight: bolder;
    border-radius: 7px;
}

.descripcion1{
    width: 100%;
    height: 4em;
}

/* Estilos al contenedor padre en About*/
.contAbout1{
    display: block;
    width: 100%;
    height: 550px;
   
}

/* Estilos al contenedor hijo en About (Parrafo, imagen)*/
.contAbout{
    display: block;
    float: right;
    width: 50%;
    height: 400px;
    padding-left: 8em;
}

/* Estilos a inputs Form */
.inform{
    width: 100%;
    height: 2.2em;
    padding-left: 5px;
    margin-bottom: 10px;

}

/* Estilos al boton eneviar Form */
.bottons{
    width: 100%;
    height: 3em;
    color: #fff;
    background: #242424;
    cursor: pointer;

}

/* Estilos al Form de contacto */
.formcontacto{
    margin: 1em auto;
    border-radius: 5px;
    padding: 20px;
    width: 25%;
    height: 24em;
    text-align: left;
    line-height: 20px;
    background: #999;
    color: #545454;
    font-weight: bolder;
}

.descripcion2{
    width: 100%;
    height: 50px;
}

.contsec>img  {

    border: solid 1px #282828;

}

/* Estilos al contenido de las sessiones de portfolio*/
.seccion-portfolio{
    background: #242424;
    color: #fff;
}
.contGal{/* Estilos al contenedor de galeria*/
    background: #242424;
}

/* Estilos de la galeria*/
.galeria{
    width: 95%;
    margin: auto;
    list-style: none;
    padding: 10px;
    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.galeria li {
    margin: 3px;
}

.galeria img {
    width: 11em;
    height: auto;
    border: solid 1px #999;
    border-radius: 5px;
}

/* Estilos al modal*/
.modal{
    display: none;
}
.modal:target {
    display: block;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}


.foto{
    width: 100%;
    height: 70%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.foto a{
    color: #fff;
    font-size: 50px;
    text-decoration: none;
    margin: 0px 10px;
}

.foto a:nth-child(2){
    margin-top: 40px;
    height: 100%;
    flex-shrink: 2;
}

.foto img {
    width: 350px;
    height: auto;
    max-width: 100%;
    border: solid 7px #e9e9e9;
    box-sizing: border-box;
}

.cerrar{
    display: block;
    background: #fff;
    width: 25px;
    height: 25px;
    margin: 90px auto;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    color: black;
    padding: 5px;
    border-radius: 50%;
    line-height: 15px;
}