<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Mi</title>
    <link rel="shortcut icon" href="../media/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"/>
</head>
<body>
    <header>
        <nav>
            <!--Logo y Marca -->
            <a href="../index.html"> <img src="../media/logo2.png"></a>
            <h1>fotografia</h1>

            <!--Navegacion-->
            <ul class="navegacion">
                <li><a class="enlaceNavegacion" href="about.html">Sobre Mi</a></li>
                <li><a class="enlaceNavegacion" href="./portfolio.html">Portfolio</a></li>
                <li><a class="enlaceNavegacion" href="./opiniones.html">Opiniones</a></li>
                <li><a class="enlaceNavegacion" href="./contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="contAbout1">
            <h2 class="subAbout">Sobre Mi</h2>

            <div class="contAbout"> <!--Imagen del fotografo-->
                <img src="../media/autoretrato-4.jpg" style="width: 230px; height: auto;">
            </div>

            <div class="contAbout">   <!--Descripción del perfil-->
                <p class="parrafoAbout">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at mi finibus, dictum mi ac, varius eros. Praesent non purus volutpat, porttitor nulla ut, viverra justo. Aliquam a laoreet diam. Fusce non dignissim erat, ut pulvinar odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur euismod ac velit at commodo. Proin dignissim at mauris eget tristique. Vivamus quam purus, condimentum vitae bibendum non, sodales et mi.</p>
                
                <p class="parrafoAbout">Donec sagittis felis a luctus interdum. Integer vel sem non ipsum finibus facilisis. Pellentesque ac leo eget risus lacinia semper vitae nec lacus.</p>
                
                <p class="parrafoAbout">Maecenas quis mauris sed diam scelerisque fringilla sit amet vel odio. Mauris ultricies tortor arcu, vel imperdiet nibh sagittis a. Fusce et dapibus lectus. Quisque lacinia aliquet tortor, eget ullamcorper tortor blandit eget. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
            </div>  

        </section>

        <div class="clearfix"></div>
       
    </main>

    <footer>
        <!--Contacto de RRSS-->
        <section class="botones-rrss">
            <a href="https://www.facebook.com/franco.morales.1291" target="_blank" class="facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="https://wa.me/5493886573210?text=Hola,%20necesito%20informacion." target="_blank" class="whatsapp"><i class="fab fa-whatsapp"></i></a>
            <a href="https://www.instagram.com/francomorales14/?hl=es-la" target="_blank" class="instagram"><i class="fab fa-instagram"></i></a>
        </section>
        
        <!--Pie de pagina con copy e iconos de redes sociales y enlaces a redes-->
        <h4 id="piePagina">Copyrigth - Elaborado por Guillermo Varela</h4>
    </footer>
    
    
</body>
</html>